@import "tailwindcss";

@theme {
  --color-brand-50: #f0fdfa;
  --color-brand-100: #ccfbf1;
  --color-brand-500: #14b8a6;
  --color-brand-600: #0d9488;
  --color-brand-900: #134e4a;
  --color-dark-surface: #1e293b;
  --color-dark-bg: #0f172a;
}

@layer base {
  :root {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--color-dark-bg);
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
}
